@import "zmienne";
@import "mixins";



body {
    background-image:linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.7)), url(../img/bg.png);
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width:1270px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
    padding: 60px;
}

#main-header {
    color: $main-color;
    font-size: 50px;
    text-align: center;
    margin-top:20px;
    margin-bottom: 60px;
}

.staff-box {
    margin: 0;
    flex-basis: 20%;
    margin-bottom: 40px; 
   
}

.staff-box:hover .staff-photo-color,
.staff-box:hover .staff-photo
{
    opacity: 0.7;
}

.staff-photo-container {
    position: relative;
    width: 140px;
    height: 140px;
    margin: auto;
} 

.staff-photo {
    @include staff-img-properties(50%, 140px, 140px,);
    transition: opacity 0.6s  ease-out;
}

.staff-photo-color {
    @include staff-img-properties(50%, 140px, 140px,);
    background-color:$light-blue;
    opacity: 0.5;
    z-index: 1;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    transition: opacity 0.6s  ease-out
}

.mail-sign {
    width:30px;
    height:30px;
    border-radius: 50%;
    background-color: $main-color;
    position: absolute;
    right:10%;
    top:1%;
    z-index: 2;
    text-align: center;
    line-height: 30px;
}

.mail-icon {
    color: white;
}

 
.staff-information {
    margin-top:10px;
    text-align: center;
    p {
        margin: 0;
    }
    p.name{
        font-size: 18px;
        color: $main-color;
        margin-bottom:10px;
    }
    div.staff-other-info{
        p {
            font-weight: $thin-font;
            font-size: $thin-font-size;
        }
        
        p.position {
            color:$light-blue;
        }
        p.city {
           color: #808080;
        }
    }  
}


