@media (max-width: 1200px) {
    
  .staff-box {
    flex-basis: 25%; 
  }
  .slide-staff-name {
    font-size: 1.6em;
  }
  .slide-staff-position{
    font-size:0.9em;
  }
}
    
 @media (max-width: 992px) {
    
  .staff-box {
    flex-basis: 30%; 
  }
  .slide-staff-name {
    font-size: 1.5em;
  }
  .slide-staff-position{
    font-size:0.8em;
  }
}

@media (max-width: 768px) {
    
  .staff-box {
    flex-basis: 50%; 
  } 
  .slide-staff-name {
    font-size: 1.3em;
  }
  .slide-staff-position{
    font-size:0.65em;
  }
}

@media (max-width: 576px) {
    
  .staff-box {
    flex-basis: 100%; 
  }
  .slide-staff-name {
    font-size: 1.1em;
  }
  .slide-staff-position{
    font-size:0.55em;
  }
}
